.navbar-component {
    background-color: #0A2647;
    font-size: small;
    height: fit-content;
    padding: 0;
    line-height: 1.2;
}

.custom-toggler {
    border: none;
    outline: none;
}

.custom-toggler .toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: background-color 0.2s ease;
}

.custom-toggler:focus {
    outline: none;
}

.navbar-toggler {
    border-color: transparent;
}

/* Add spacing between nav items */
.navbar-nav {
    gap: 2rem; /* Adjust this value for the desired space */
}
