.navbar-component {
    background-color: #0A2647;
    font-size: small;
    height: fit-content; /* Bạn có thể giữ lại thuộc tính này */
    padding: 0; /* Giảm padding để navbar nhỏ lại */
    line-height: 1.2; /* Giảm khoảng cách giữa các dòng */
}